@model solder.Models.Solder
@{
    ViewBag.Title = Model.Name;
}
<h2>@Model.Name</h2>
<div>
    <dl class="dl-horizontal">
        <dt>Type</dt>
        <dd>@Model.SolderType</dd>

        <dt>Product</dt>
        <dd>@Model.Product</dd>

        <dt>Price</dt>
        <dd>@Model.Price</dd>
       
        @if (@Model.Picture != null)
        {
            <dt>Image</dt>
            <a href="#" id="pop"><img style='width:80px; height:60px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(@Model.Picture))" /></a>
        }
    </dl>
</div>

<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Image preview</h4>
      </div>
      <div class="modal-body">
        @if (@Model.Picture != null)
        {
            <img src="data:image/jpeg;base64,@(Convert.ToBase64String(@Model.Picture))" id="imagepreview" style="width: 565px; height: 565px;" >
        }
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>