@using solder.Models
@model solder.ViewModels.AdminIndexViewModel

@addTagHelper "*, solder"

@{
    ViewBag.Title = "All solders";
}        


<table class="table">
    <h3>Типы припоев</h3>
    @foreach (var item in Model.csvm.SolderTypes)
    {
        <tr>
            <td>@item.Name</td>
            <td><a asp-action="DetailsSolderType" asp-controller="Admin" asp-route-id="@item.Id">Подробнее</a> | 
                <a asp-action="EditSolderType" asp-controller="Admin" asp-route-id="@item.Id">Изменить</a> | 
                <a asp-action="DeleteSolderType" asp-controller="Admin" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
    }    
</table>
<a asp-action="CreateSolderType"><button class="btn btn-default">Добавить тип припоя</button></a>

<table class="table">
    <h3>Продукты</h3>
    @foreach (var item in Model.csvm.Products)
    {
        <tr>
            <td>@item.Name</td>
            <td><a asp-action="DetailsProduct" asp-controller="Admin" asp-route-id="@item.Id">Подробнее</a> | 
                <a asp-action="EditProduct" asp-controller="Admin" asp-route-id="@item.Id">Изменить</a> | 
                <a asp-action="DeleteProduct" asp-controller="Admin" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
    }    
</table>
<a asp-action="CreateProduct"><button class="btn btn-default">Добавить продукт</button></a>

<table class="table">
    <h3>Припои</h3>
    <tr>
        <th>
            <sort-solder action="Index"  up="@Model.svm.Up"
                    current="@Model.svm.Current" property="@Model.svm.NameSort">
                Имя
            </sort-solder>
        </th>
        <th>
            <sort-solder action="Index"  up="@Model.svm.Up"
                    current="@Model.svm.Current" property="@Model.svm.SolderTypeSort">
                Тип
            </sort-solder>
        </th>
        <th>
            <sort-solder action="Index"  up="@Model.svm.Up"
                    current="@Model.svm.Current" property="@Model.svm.ProductSort">
                Продукт
            </sort-solder>
        </th>
        <th>
            <sort-solder action="Index"  up="@Model.svm.Up"
                    current="@Model.svm.Current" property="@Model.svm.PriceSort">
                Цена
            </sort-solder>
        </th>    
    </tr>
    @foreach (var item in Model.csvm.Solders)
    {
        <tr>
           
            <td>@item.Name</td>
            <td>@item.SolderType.Name</td>
            <td>@item.Product.Name</td>
            <td>@item.Price</td>
            <td><a asp-action="DetailsSolder" asp-controller="Admin" asp-route-id="@item.Id">Подробнее</a> | 
                <a asp-action="EditSolder" asp-controller="Admin" asp-route-id="@item.Id">Изменить</a> | 
                <a asp-action="DeleteSolder" asp-controller="Admin" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
    }    
</table>
<a asp-action="CreateSolder"><button class="btn btn-default">Добавить припой</button></a>